@import "lib/reset.css";
@import "lib/fonts.less";

@import "vars.less";
@import "animations.less";
@import "init.less";

@import "app-components/alerts/alert.less";
@import "app-components/modal/modal.less";
@import "app-components/modal/structured-modal.less";
@import "app-components/dialogs/dialogs.less";
@import "app-components/image-viewer/image-viewer.less";

@import "kaia-wallet-components/wallet-modals.less";

@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');

h1,
h2 {
  color: var(--primary-color);
}

img.logo {
  @container (width < @phone-width) {
    width: 200px;
  }
}

h1 {
  font-size  : 86px;
  text-shadow: -2px -2px 0 #1f1f1f, -2px -1px 0 #1f1f1f, -2px 0px 0 #1f1f1f, -2px 1px 0 #1f1f1f, -2px 2px 0 #1f1f1f, -1px -2px 0 #1f1f1f, -1px -1px 0 #1f1f1f, -1px 0px 0 #1f1f1f, -1px 1px 0 #1f1f1f, -1px 2px 0 #1f1f1f, 0px -2px 0 #1f1f1f, 0px -1px 0 #1f1f1f, 0px 1px 0 #1f1f1f, 0px 2px 0 #1f1f1f, 1px -2px 0 #1f1f1f, 1px -1px 0 #1f1f1f, 1px 0px 0 #1f1f1f, 1px 1px 0 #1f1f1f, 1px 2px 0 #1f1f1f, 2px -2px 0 #1f1f1f, 2px -1px 0 #1f1f1f, 2px 0px 0 #1f1f1f, 2px 1px 0 #1f1f1f, 2px 2px 0 #1f1f1f;

  @container (width < @phone-width) {
    font-size  : 48px;
    text-shadow: -1px -1px 0 #1f1f1f, -1px 0px 0 #1f1f1f, -1px 1px 0 #1f1f1f, 0px -1px 0 #1f1f1f, 0px 1px 0 #1f1f1f, 1px -1px 0 #1f1f1f, 1px 0px 0 #1f1f1f, 1px 1px 0 #1f1f1f;
  }
}

h2 {
  font-size  : 32px;
  text-shadow: -1px -1px 0 #1f1f1f, -1px 0px 0 #1f1f1f, -1px 1px 0 #1f1f1f, 0px -1px 0 #1f1f1f, 0px 1px 0 #1f1f1f, 1px -1px 0 #1f1f1f, 1px 0px 0 #1f1f1f, 1px 1px 0 #1f1f1f;
}

body {
  background-image: url("/images/background.jpg");
  text-align      : center;
  padding         : 60px 20px;
}

section {
  padding       : 20px 0;
  display       : flex;
  flex-direction: column;
  gap           : 20px;
  align-items   : center;
}

a {
  color          : blue;
  text-decoration: underline;

  &:visited {
    color: purple;
  }

  &:active {
    color: red;
  }

  &:hover,
  &:focus {
    animation-duration       : 3s;
    animation-name           : rainbow-color;
    animation-iteration-count: infinite;
  }
}

.button-container {
  display        : flex;
  gap            : 10px;
  justify-content: center;
}

button,
a.button {
  display        : block;
  box-sizing     : border-box;
  border         : none;
  color          : transparent;
  text-shadow    : 0 0 #222222;
  text-decoration: none;
  background     : #c0c0c0;
  box-shadow     : inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
  min-width      : 75px;
  min-height     : 23px;
  padding        : 12px 30px;
  text-align     : center;

  &:active:not(:disabled) {
    box-shadow : inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    text-shadow: 1px 1px #222222;
  }

  &:focus {
    outline       : 1px dotted #000000;
    outline-offset: -4px;
  }

  &:disabled {
    color      : #808080;
    text-shadow: 1px 1px 0 #ffffff;
  }
}

.features,
.timeline {
  >ul {
    width    : 100%;
    max-width: 670px;

    display              : grid;
    gap                  : 20px;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));

    >li {
      background: #c0c0c0;
      box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
      padding   : 3px;

      >h3 {
        display    : flex;
        padding    : 3px 2px 3px 3px;
        background : linear-gradient(90deg, navy, #1084d0);
        align-items: center;
        flex-grow  : 1;
        color      : #fff;
        font-weight: bold;
      }

      >p {
        padding    : 8px;
        line-height: 1.5em;
        text-align : left;

        >i {
          font-style: italic;
        }

        >a {
          margin-left: 5px;
          float      : right;

          >img {
            max-width: 70px;
          }
        }
      }
    }
  }
}

.family {
  >ul {
    display       : flex;
    flex-direction: column;
    gap           : 10px;
    align-items   : center;
    list-style    : disc;
  }
}

.memes {
  >ul {
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.extra {
  >a {
    font-size      : 14px;
    color          : #333;
    text-decoration: underline;

    &:visited {
      color: #333;
    }

    &:active {
      color: #333;
    }

    &:hover,
    &:focus {
      animation-name: none;
    }
  }
}