@import "lib/reset.css";
@import "lib/fonts.less";

@import "vars.less";
@import "animations.less";
@import "init.less";

@import "app-components/alerts/alert.less";
@import "app-components/modal/modal.less";
@import "app-components/modal/structured-modal.less";
@import "app-components/dialogs/dialogs.less";

@import "kaia-wallet-components/wallet-modals.less";

h1,
h2 {
  color: var(--primary-color);
}

h1 {
  font-size  : 86px;
  text-shadow: -2px -2px 0 #1f1f1f, -2px -1px 0 #1f1f1f, -2px 0px 0 #1f1f1f, -2px 1px 0 #1f1f1f, -2px 2px 0 #1f1f1f, -1px -2px 0 #1f1f1f, -1px -1px 0 #1f1f1f, -1px 0px 0 #1f1f1f, -1px 1px 0 #1f1f1f, -1px 2px 0 #1f1f1f, 0px -2px 0 #1f1f1f, 0px -1px 0 #1f1f1f, 0px 1px 0 #1f1f1f, 0px 2px 0 #1f1f1f, 1px -2px 0 #1f1f1f, 1px -1px 0 #1f1f1f, 1px 0px 0 #1f1f1f, 1px 1px 0 #1f1f1f, 1px 2px 0 #1f1f1f, 2px -2px 0 #1f1f1f, 2px -1px 0 #1f1f1f, 2px 0px 0 #1f1f1f, 2px 1px 0 #1f1f1f, 2px 2px 0 #1f1f1f;
}

h2 {
  font-size  : 32px;
  text-shadow: -1px -1px 0 #1f1f1f, -1px 0px 0 #1f1f1f, -1px 1px 0 #1f1f1f, 0px -1px 0 #1f1f1f, 0px 1px 0 #1f1f1f, 1px -1px 0 #1f1f1f, 1px 0px 0 #1f1f1f, 1px 1px 0 #1f1f1f;
}

body {
  background-image: url("/images/background.jpg");
  text-align      : center;
  padding         : 60px 20px;
}

section {
  padding       : 20px 0;
  display       : flex;
  flex-direction: column;
  gap           : 20px;
  align-items   : center;
}

a {
  color          : blue;
  text-decoration: underline;

  &:visited {
    color: purple;
  }

  &:active {
    color: red;
  }

  &:hover,
  &:focus {
    animation-duration       : 3s;
    animation-name           : rainbow-color;
    animation-iteration-count: infinite;
  }
}

.button-container {
  display        : flex;
  gap            : 10px;
  justify-content: center;
}

button,
a.button {
  display        : block;
  box-sizing     : border-box;
  border         : none;
  color          : transparent;
  text-shadow    : 0 0 #222222;
  text-decoration: none;
  background     : #c0c0c0;
  box-shadow     : inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
  min-width      : 75px;
  min-height     : 23px;
  padding        : 12px 30px;
  text-align     : center;

  &:active:not(:disabled) {
    box-shadow : inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    text-shadow: 1px 1px #222222;
  }

  &:focus {
    outline       : 1px dotted #000000;
    outline-offset: -4px;
  }

  &:disabled {
    color      : #808080;
    text-shadow: 1px 1px 0 #ffffff;
  }
}

.extra {
  >a {
    font-size      : 14px;
    color          : #333;
    text-decoration: underline;

    &:visited {
      color: #333;
    }

    &:active {
      color: #333;
    }

    &:hover,
    &:focus {
      animation-name: none;
    }
  }
}